/*This partial styles the blog.html*/

.blogTitleContainer {
  min-height: 40vh;
  background-image: url(../assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.blogTitleContainer .wrapper {
  // border: 2px solid yellow;
  height: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.blogTitle {
  // border: 2px solid magenta;
  color: $white;
  text-transform: uppercase;
  font-family: $primary-font;
  // font-size: 12rem;
  font-size: clamp(50px, 3vw, 55px);
  padding-bottom: 0.5rem;
}
