.contactMain {
  background-color: $white-shade;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0px;
  }
  .socialContainer {
    background-color: $white;
    padding: 40px 25px;
    margin-top: 10px;
    align-self: flex-start;

    .socialIconsContainer {
      display: flex;

      a {
        padding-right: 2.5rem;
        margin-right: 1rem;
        font-size: 3rem;
        color: $pine;
        transition: 0.2s;
        &:hover {
          color: $green-grey;
        }
      }
    }
    .information {
      .e-mail {
        font-weight: 700;
      }
    }
  }
  .contactMeForm {
    width: 70%;
  }
}
