/*copyright styling is shared among index.html, blog.html and contact.html */

//styling 'copyright line'
.copyright {
  background-color: $black;
  color: $white-shade;
  text-align: center;
  padding: 15px;
}
