/*This partial styles the form section of blog.html and contact.html*/

.formContainer {
  display: flex;
  .flexMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .name,
  .email {
    padding: 20px;
    width: calc(50% - 5px);
    margin: 10px 0px;
    border: none;
    &:hover {
      border: 1.8px solid $green-grey;
    }
  }
  textarea {
    width: 100%;
    margin: 20px 0px;
    padding: 30px 20px;
    font-size: 2rem;
    border: none;
    &:hover {
      border: 1.8px solid $green-grey;
    }
  }
  //button
  .postComment {
    width: 100%;
  }
  ::placeholder {
    color: $black;
    opacity: 1;
  }
}
