// media query

@media (max-width: 1108px) {
  .blogMain .wrapper {
    flex-direction: column;
  }

  .twoAside {
    .contentContainer,
    .bottom {
      text-align: center;
    }
  }

  .blogContainer {
    text-align: center;
  }
  .blogMain .twoAside {
    min-width: 100%;
    margin: 0px 0px;
  }
  .blogMain .blogContainer {
    min-width: 100%;
    margin: 50px 0px;
  }

  .flexMe {
    margin-bottom: 1rem;
    input[class="email"],
    input[class="name"] {
      width: 100%;
    }
  }
}
//*******************************************************

@media (max-width: 1307px) {
  //contact form
  .contactMain {
    // border: 2px solid red;
    .wrapper {
      .socialContainer {
        width: 100%;

        .socialIconsContainer {
          display: flex;
          justify-content: center;
        }
      }

      .contactMeForm {
        width: 100%;
        margin-top: 2rem;
        .formContainer {
          .flexMe {
            width: 100%;
            flex-wrap: wrap;
            flex-direction: column;
          }
          .name,
          .email {
            width: 100%;
          }
        }
      }
    }
  }
}

// ***********************************************************
@media (max-width: 934px) {
  .imgAndContent {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;

    .wrapper {
      // border: 2px solid green;
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }

    .contentContainer1,
    .contentContainer2 {
      // border: 2px dotted goldenrod;
      width: 100%;
      text-align: center;
    }
    .imgContainer2 {
      // border: 3px solid purple;
      order: -1;
    }
    .contentContainer2 {
      padding: 100px 20px;
    }
    .bridgeImage,
    .lotusImage {
      // border: 2px solid black;
      max-width: 80%;
      text-align: center;
      margin: 0 auto;
    }
  }

  // willows journey
  .journeyContainer {
    .journeyPicContainer {
      // border: 2px solid red;
      margin-left: 100px;

      .journeyImage {
        width: 80%;
        margin: 0 auto;
      }
    }
    .journeyDesc {
      margin: 70px 0px;
      text-align: center;
      a {
        margin: 0 auto;
      }
    }
  }

  // GALLERY

  //---------------- hamburger--------------------

  .topNav {
    z-index: 20;
  }
  // .indexHeader .hamburger {
  //   visibility: visible;
  //   border: 2px solid magenta;
  // }

  .topNav {
    // border: 2px solid magenta;
    position: fixed;
    top: 0px;
    width: 100%;
    // min-height: 300px;
    padding: 0;

    .logo {
      display: none;
    }
  }

  input[type="checkbox"]:checked ~ ul {
    display: none;
  }

  .sideMenuContainer {
    // border: 2px dotted black;
    position: fixed;
    // top: 0;
    // display: inline-block;
    // top: 70px;
    // left: 0px;
    display: flex;
    // flex-direction: column;
    width: 100%;
    // align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .indexHeader .hamburger {
    visibility: visible;
  }

  .topNav ul {
    // border: 2px solid yellow;
    // display: block;
    background-color: $green-grey;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // z-index: 30;

    li {
      display: inline-block;
      // padding: 5px;
    }
    a {
      // border: 2px solid red;
      // padding: 2rem 1rem;
      padding: 0 2rem;
    }
  }

  // header
  .indexHeader .wrapper {
    // border: 2px solid blue;
    width: 100%;
    min-height: 10vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .titleImageContainer {
      // border: 2px solid yellow;
      font-size: 20px;
      margin-top: 100px;
      z-index: 10;
      position: relative;

      img {
        // display: inline-block;
        // border: 2px solid black;
        display: none;
      }
    }

    .headerImageContainer {
      // border: 2px solid magenta;
      width: 100%;
      margin: 0 auto;
      padding: 1rem;
      width: 60%;

      img {
        // border: 2px solid goldenrod;
        width: 100%;
        margin: 0 auto;
      }
    }
    .title {
      margin-top: 50px;
      font-size: clamp(50px, 12vw, 100px);
    }
  }
}
