@mixin orangeButton {
  font-family: $primary-font;
  border: none;
  text-transform: uppercase;
  background-color: $accent-color;
  color: $black;
  font-size: 2rem;
  padding: 1rem 2rem;
}

@mixin orangeButtonHover {
  color: $accent-color;
  border: 0.5px solid $accent-color;
  background-color: $white;
  transition: 0.3s;
}
